/* google font */

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@import "tailwindcss";

@layer utilities {
  .font-manrope {
    font-family: "Manrope", sans-serif;
  }
}

:root {
  --prymary-color: ;
  --text-color: #f4f4f4;
}
